# Immich environment configuration
# See https://immich.app/docs/install/environment-variables

# Location where uploaded photos/videos are stored
UPLOAD_LOCATION={{ immich.upload_location }}

# Location where the Postgres database files are stored
DB_DATA_LOCATION={{ immich.db_location }}

# Immich release to deploy
IMMICH_VERSION={{ immich.version }}

# Database credentials
DB_USERNAME=immich-user
DB_PASSWORD={{ immich_db_password }}
DB_DATABASE_NAME=immich
