account default
host smtp.gmail.com
port 587
logfile /var/log/msmtp.log
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

auth login
user {{email.from}}
password 
from {{email.fullname}}